:root {
    --color-border-grey: #e0dede;
    --color-theme: #f40000;
    --black-color: #000;
    --grey-color: #333;
    --color-bg-grey: #f5f5f5;
    --color-btn-hover: #48494b;
    --color-body-text: #0a0909;
    --color-mainmenu-submenu-bg: #0a0909;
    --color-grey: #9F9F9F;
    --color-box-shadow: rgba(0, 0, 0, 0.05);
    --color-mainmenu-link-hover: #f3e1e1;
    --color-bg-red: red;
    --color-border-grey: #e3e1e1;
    --color-cart-hover: #48494b;
    --color-bg-footer-dark: #13181C;
    --box-shadow: 0 0 1px var(--color-box-shadow), 0 0 3px var(--color-box-shadow), 0 2px 8px var(--color-box-shadow);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    overflow: hidden;
}

/* .container{
    max-width: 1170px !important;
} */

.container::before{
    content: " ";
    display: table;
}

.row::before{
    content: " ";
    display: table;
}

*::before,*:after {
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.align-item-center{
    align-items: center;
}

.btn-red{
    background-color: var(--color-theme) !important;
    color: var(--white) !important;
    border-radius: 5px;
}

.label{
    font-size: 1rem;
    padding: 2px 4px;
    border-radius: 5px;
    font-weight: 300;
    letter-spacing: 1px;
}

.border-grey{
    border: 1px solid var(--color-border-grey);
    border-radius: 38px;
}

.font-size-large{
    font-size: 2.3rem !important;
    line-height: 2.6rem !important;
    font-weight: 500 !important;
}

.font-size-small{
    font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}

.font-size-xs{
    font-size: 1.6rem !important;
    line-height: 1.6rem !important;
}

.white-bg-animation::before{
    background-color: var(--white) !important;
    box-shadow: unset !important;
}

.overlay{
    padding: 30px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 445px;
    width: 100%;
}

.row::after{
    clear: both;
    display: table;
    content: "";
}

.full-height-img{
    padding-bottom: 100% !important;
}
.eroupe-auto-slider .slick-slide {
    margin-right: 30px;
    overflow: hidden;
}

  /* the parent */
.eroupe-auto-slider .slick-list {
    margin-right: -30px;
    overflow: hidden;
}
